flows/Object detection.txt
[{"id":"25e93c6.b7e94c4","type":"tab","label":"Object detection","disabled":false,"info":""},{"id":"22c3702a.e33a5","type":"ui_upload","z":"25e93c6.b7e94c4","group":"69be0f12.e077b","title":"upload","name":"","order":1,"width":0,"height":0,"chunk":256,"transfer":"binary","x":150,"y":100,"wires":[["9ba91e5f.cf24b","d5ceb7b9.3794f8"]]},{"id":"9ba91e5f.cf24b","type":"file","z":"25e93c6.b7e94c4","name":"Save image to rpi","filename":"/home/pi/Desktop/TensorFlow-2.x-YOLOv3/image_to_classify.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":350,"y":100,"wires":[["63336fd7.ceedd"]]},{"id":"63336fd7.ceedd","type":"exec","z":"25e93c6.b7e94c4","command":"cd /home/pi/Desktop/TensorFlow-2.x-YOLOv3 ; python3 classify-node-red.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Classify img","x":570,"y":100,"wires":[["57c384d6.32894c","8b904f6d.d0801"],["57c384d6.32894c"],["57c384d6.32894c","25e813ed.9c579c"]]},{"id":"57c384d6.32894c","type":"debug","z":"25e93c6.b7e94c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":100,"wires":[]},{"id":"1136dee1.5ae111","type":"inject","z":"25e93c6.b7e94c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":240,"wires":[["8b904f6d.d0801","63336fd7.ceedd"]]},{"id":"b12133bf.9ea7d","type":"template","z":"25e93c6.b7e94c4","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"427\" height=\"320\"\"/>","output":"str","x":1200,"y":240,"wires":[["8c1f6a58.858ed8"]]},{"id":"8c1f6a58.858ed8","type":"ui_template","z":"25e93c6.b7e94c4","group":"b7b844.3dab07c","name":"Classified image","order":8,"width":"11","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1420,"y":240,"wires":[[]]},{"id":"8b904f6d.d0801","type":"file in","z":"25e93c6.b7e94c4","name":"Load classified image","filename":"/home/pi//Desktop/TensorFlow-2.x-YOLOv3/image_classified.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":840,"y":240,"wires":[["155e4426.8d679c"]]},{"id":"155e4426.8d679c","type":"base64","z":"25e93c6.b7e94c4","name":"","action":"","property":"payload","x":1040,"y":240,"wires":[["b12133bf.9ea7d"]]},{"id":"73f79c3.21ed464","type":"template","z":"25e93c6.b7e94c4","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"427\" height=\"320\"\"/>","output":"str","x":700,"y":340,"wires":[["1ef15cde.6d7a53"]]},{"id":"1ef15cde.6d7a53","type":"ui_template","z":"25e93c6.b7e94c4","group":"58606dae.96dd54","name":"Image to classify","order":8,"width":"11","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":890,"y":340,"wires":[[]]},{"id":"d5ceb7b9.3794f8","type":"base64","z":"25e93c6.b7e94c4","name":"","action":"","property":"payload","x":560,"y":340,"wires":[["73f79c3.21ed464"]]},{"id":"afc4359c.4a7ce8","type":"inject","z":"25e93c6.b7e94c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":300,"wires":[["86764af4.dd9c28"]]},{"id":"86764af4.dd9c28","type":"file in","z":"25e93c6.b7e94c4","name":"Load previous image to be classified","filename":"/home/pi//Desktop/TensorFlow-2.x-YOLOv3/image_to_classify.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":310,"y":340,"wires":[["d5ceb7b9.3794f8"]]},{"id":"2a05a55b.d2776a","type":"ui_toast","z":"25e93c6.b7e94c4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1210,"y":140,"wires":[[]]},{"id":"25e813ed.9c579c","type":"function","z":"25e93c6.b7e94c4","name":"","func":"if (msg.payload.code != 0){\n    msg.payload = \"Invalid image\"\n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":140,"wires":[["2a05a55b.d2776a"]]},{"id":"5e657e9d.79758","type":"comment","z":"25e93c6.b7e94c4","name":"Documentation","info":"# Usage\n *  Open the dashboard and switch to tab Object detection\n *  Chose upload and upload a jpg/jpeg file\n *  Watch the result\n","x":120,"y":40,"wires":[]},{"id":"69be0f12.e077b","type":"ui_group","z":"","name":"Upload image","tab":"a88bff3d.5f8ef","order":1,"disp":true,"width":"4","collapse":false},{"id":"b7b844.3dab07c","type":"ui_group","z":"","name":"Classified image","tab":"a88bff3d.5f8ef","order":3,"disp":true,"width":"11","collapse":false},{"id":"58606dae.96dd54","type":"ui_group","z":"","name":"Image to classify","tab":"a88bff3d.5f8ef","order":2,"disp":true,"width":"11","collapse":false},{"id":"a88bff3d.5f8ef","type":"ui_tab","z":"","name":"Object detection","icon":"dashboard","order":2,"disabled":false,"hidden":false}]