flows/Phone camera object detection.txt
[{"id":"b6ef2b89.58e588","type":"tab","label":"Phone camera object detection","disabled":false,"info":""},{"id":"fc7b31d8.80536","type":"http in","z":"b6ef2b89.58e588","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["6d8b52a3.1b351c"]]},{"id":"c0b41d14.7f904","type":"http response","z":"b6ef2b89.58e588","name":"","statusCode":"","headers":{},"x":810,"y":100,"wires":[]},{"id":"6d8b52a3.1b351c","type":"template","z":"b6ef2b89.58e588","name":"take/select photo and upload","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Take or select photo</title>\n    <script type=\"text/javascript\">\n    // The  code on this page comes from: \n    //     https://www.codepool.biz/take-a-photo-and-upload-it-on-mobile-phones-with-html5.html\n      function fileSelected() {\n        var count = document.getElementById('fileToUpload').files.length;\n              document.getElementById('details').innerHTML = \"\";\n              for (var index = 0; index < count; index ++)\n              {\n                     var file = document.getElementById('fileToUpload').files[index];\n                     var fileSize = 0;\n                     if (file.size > 1024 * 1024)\n                            fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';\n                     else\n                            fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';\n                     document.getElementById('details').innerHTML += 'Name: ' + file.name + '<br>Size: ' + fileSize + '<br>Type: ' + file.type;\n                     document.getElementById('details').innerHTML += '<p>';\n              }\n      }\n      function uploadFile() {\n        var fd = new FormData();\n              var count = document.getElementById('fileToUpload').files.length;\n              for (var index = 0; index < count; index ++)\n              {\n                     var file = document.getElementById('fileToUpload').files[index];\n                     fd.append(file.name, file);\n              }\n        var xhr = new XMLHttpRequest();\n        xhr.upload.addEventListener(\"progress\", uploadProgress, false);\n        xhr.addEventListener(\"load\", uploadComplete, false);\n        xhr.addEventListener(\"error\", uploadFailed, false);\n        xhr.addEventListener(\"abort\", uploadCanceled, false);\n        xhr.open(\"POST\", \"upload_file\");\n        xhr.send(fd);\n      }\n\n      function uploadProgress(evt) {\n        if (evt.lengthComputable) {\n          var percentComplete = Math.round(evt.loaded * 100 / evt.total);\n          document.getElementById('progress').innerHTML = percentComplete.toString() + '%';\n        }\n        else {\n          document.getElementById('progress').innerHTML = 'unable to compute';\n        }\n      }\n\n      function uploadComplete(evt) {\n        /* This event is raised when the server sends back a response */\n        alert(evt.target.responseText);\n      }\n\n      function uploadFailed(evt) {\n        alert(\"There was an error attempting to upload the file.\");\n      }\n\n      function uploadCanceled(evt) {\n        alert(\"The upload has been canceled by the user or the browser dropped the connection.\");\n      }\n\n    </script>\n</head>\n\n<body>\n  <form id=\"form1\" enctype=\"multipart/form-data\" method=\"post\" action=\"upload_file\">\n    <div>\n      <label for=\"fileToUpload\">Take or select photo: </label><br />\n      <input type=\"file\" name=\"fileToUpload\" id=\"fileToUpload\" onchange=\"fileSelected();\" accept=\"image/*\" capture=\"camera\" />\n    </div>\n    <div id=\"details\"></div>\n    <div>\n      <input type=\"button\" onclick=\"uploadFile()\" value=\"Upload\" />\n    </div>\n    <div id=\"progress\"></div>\n  </form>\n</body>\n</html>","output":"str","x":520,"y":100,"wires":[["c0b41d14.7f904"]]},{"id":"5e44fde7.9984a4","type":"http in","z":"b6ef2b89.58e588","name":"","url":"upload_file","method":"post","upload":true,"swaggerDoc":"","x":140,"y":200,"wires":[["a01c0c08.2cb19","142e7103.c0861f","8195de66.362de"]]},{"id":"47ff40e9.19ed7","type":"http response","z":"b6ef2b89.58e588","name":"","statusCode":"","headers":{},"x":850,"y":200,"wires":[]},{"id":"e4057bfb.998ef8","type":"template","z":"b6ef2b89.58e588","name":"response text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Thank you, we have successfully received \"{{payload.filename}}\" (size = {{payload.filesizeKB}}KB )","output":"str","x":680,"y":200,"wires":[["47ff40e9.19ed7"]]},{"id":"a01c0c08.2cb19","type":"debug","z":"b6ef2b89.58e588","name":"upload_file [post]","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":160,"wires":[]},{"id":"142e7103.c0861f","type":"change","z":"b6ef2b89.58e588","name":"set filename, filesizeKB","rules":[{"t":"set","p":"payload.filename","pt":"msg","to":"req.files[0].fieldname","tot":"msg"},{"t":"set","p":"payload.filesize","pt":"msg","to":"req.files[0].size","tot":"msg"},{"t":"set","p":"payload.filesizeKB","pt":"msg","to":"$round(payload.filesize/1024)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["e4057bfb.998ef8"]]},{"id":"8e71b091.5c6cd","type":"comment","z":"b6ef2b89.58e588","name":"Documentation","info":"# Usage\n\n *  On your mobile phone navigate to `<your Node-RED-editor-url>/camera`\n *  Click on `Choose File` button to take a photo.\n *  Click on `Upload` button to send the photo to Node-RED\n *  Open the dashboard and switch to tab Phone object detection","x":100,"y":40,"wires":[]},{"id":"8195de66.362de","type":"function","z":"b6ef2b89.58e588","name":"","func":"msg.payload = msg.req.files[0].buffer\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["38329736.1a4508","865778cd.dac748"]]},{"id":"38329736.1a4508","type":"file","z":"b6ef2b89.58e588","name":"Save image to rpi","filename":"/home/pi/Desktop/TensorFlow-2.x-YOLOv3/image_to_classify.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":300,"wires":[["21774c39.f9c734"]]},{"id":"21774c39.f9c734","type":"exec","z":"b6ef2b89.58e588","command":"cd /home/pi/Desktop/TensorFlow-2.x-YOLOv3 ; python3 classify-node-red.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Classify img","x":790,"y":300,"wires":[["9d08b308.fdc0a","63a5b49a.98be0c"],["9d08b308.fdc0a"],["9d08b308.fdc0a","c4dc98b0.a1b6c8"]]},{"id":"9d08b308.fdc0a","type":"debug","z":"b6ef2b89.58e588","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":300,"wires":[]},{"id":"cfc1c6e7.ad0dc8","type":"inject","z":"b6ef2b89.58e588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":810,"y":440,"wires":[["63a5b49a.98be0c","21774c39.f9c734"]]},{"id":"c7e2c92a.8f4858","type":"template","z":"b6ef2b89.58e588","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"1024\" height=\"720\"\"/>","output":"str","x":1420,"y":440,"wires":[["e8b95bc1.4be6f8"]]},{"id":"e8b95bc1.4be6f8","type":"ui_template","z":"b6ef2b89.58e588","group":"f6435b9.8e0c3a8","name":"Classified image","order":8,"width":"11","height":"14","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1620,"y":440,"wires":[[]]},{"id":"63a5b49a.98be0c","type":"file in","z":"b6ef2b89.58e588","name":"Load classified image","filename":"/home/pi//Desktop/TensorFlow-2.x-YOLOv3/image_classified.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":1060,"y":440,"wires":[["8fa88e09.d8a0f"]]},{"id":"8fa88e09.d8a0f","type":"base64","z":"b6ef2b89.58e588","name":"","action":"","property":"payload","x":1260,"y":440,"wires":[["c7e2c92a.8f4858"]]},{"id":"7c4a6521.1208bc","type":"template","z":"b6ef2b89.58e588","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"1024\" height=\"720\"\"/>","output":"str","x":920,"y":540,"wires":[["9cade2df.02325"]]},{"id":"9cade2df.02325","type":"ui_template","z":"b6ef2b89.58e588","group":"19d78c20.d2d984","name":"Image to classify","order":8,"width":"11","height":"14","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1110,"y":540,"wires":[[]]},{"id":"865778cd.dac748","type":"base64","z":"b6ef2b89.58e588","name":"","action":"","property":"payload","x":780,"y":540,"wires":[["7c4a6521.1208bc"]]},{"id":"6acd94e1.0339bc","type":"inject","z":"b6ef2b89.58e588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":540,"wires":[["a5bbba92.9c8618"]]},{"id":"a5bbba92.9c8618","type":"file in","z":"b6ef2b89.58e588","name":"Load previous image to be classified","filename":"/home/pi//Desktop/TensorFlow-2.x-YOLOv3/image_to_classify.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":530,"y":540,"wires":[["865778cd.dac748"]]},{"id":"395425ed.0b83ea","type":"ui_toast","z":"b6ef2b89.58e588","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1430,"y":340,"wires":[[]]},{"id":"c4dc98b0.a1b6c8","type":"function","z":"b6ef2b89.58e588","name":"","func":"if (msg.payload.code != 0){\n    msg.payload = \"Invalid image\"\n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":340,"wires":[["395425ed.0b83ea"]]},{"id":"f6435b9.8e0c3a8","type":"ui_group","z":"","name":"Classified image","tab":"e5389894.99ba58","order":2,"disp":true,"width":"11","collapse":false},{"id":"19d78c20.d2d984","type":"ui_group","z":"","name":"Image to classify","tab":"e5389894.99ba58","order":1,"disp":true,"width":"11","collapse":false},{"id":"e5389894.99ba58","type":"ui_tab","z":"","name":"Phone object detection","icon":"dashboard","order":1,"disabled":false,"hidden":false}]